*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
  }

header{
    background-color: black;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-left img{
    width: 220px;
    float: left;
    padding-top: 10px;
}
.header-right{
    float: right;
    margin-right: 25px;
    font-size: 12px;
 }



.header-right a{
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }

.header-right a:hover{
    background-color: rgba(1, 196, 255, 0.8);
  }

p{
    font-size: 14px;
}
body{
    font-family: 'Segoe UI';
    font-size: 14px;

}

.container{
    max-width:1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    }

.footer{
    height: 150px;
    background-color: rgb(19, 16, 16);
    color: white;
    display: block;
    text-align: center;
    font-size: 10px;

}
.footer a{
    text-align: end;
}


.top-wrapper{
    height: max-content;
    height: 650px;
    padding-top: 70px;
    background-size: cover;
    text-align: left;
  
}
.top-wrapper img{
    margin-top: auto;
    height:500px;
    float: right;
}
.top-wrapper h1{
    color:rgb(84, 84, 85);
    padding-top: 100px;
    text-align: center;
}

.top-wrapper h2{
    color:rgb(84, 84, 85);
    padding-top: 20px;
    text-align: center;
    font-size: medium;
}
.top-wrapper p{
    text-align: center;
}


.qoute{
    padding-top: 60px;
    height: 180px;
    text-align: center;
    font-style: italic;
    color: #5f5d60;
}
.qoute h1{
    font-size: 24px;
    text-align: center;
}


/*untuk menu tim*/
.menu-icon{
    color:white;
    float:right;
    font-size: 25px;
    padding: 21px 0;
    display:none;
  }
  
  
  .team-wrapper {
    height: 500px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(img/bg-pattern.jpg);
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .team {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  .team-icon {
    position: relative;
  }
  
    
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #5f5d60;
  }
  
/*untuk menu tim*/

.clear{
    clear: left;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .instagram {
    background-color: #cf2d3b;
    margin-right: 10px;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }

  
